/* reset */
html, body, header, aside, main, section, article,
div, ul, ol, dl, li, dt, dd, p,
h1, h2, h3, h4, h5, h6{margin: 0; padding: 0; vertical-align: top;}
ul, ol, dl, li, dt, dd{list-style: none;}
a{text-decoration: none; color: #333;}
button{padding: 0; border: none; background-color: transparent; cursor: pointer;}

/* common */
.hide{display: none !important;}
.ir-hidden{display: block; overflow: hidden; position: absolute; top: -999em; left: -999em; width: 1px; height: 1px; text-indent: -999em;}

/* icons */
[class*="icon-"]{color: #aaa;}
.icon-cross{display: block; position: relative; width: 20px; height: 20px; transform: rotate(45deg); transition: 0.3s;}
.icon-cross:before,
.icon-cross:after{display: block; position: absolute; left: 50%; top: 50%; width: 100%; height: 2px; transform: translate(-50%, -50%); box-shadow: inset 0 0 0 32px; content:'';}
.icon-cross:after{height: 100%; width: 2px;}

/* calendar */
body{font-size: 14px;}
.page-calendar .banner-top{padding: 40px 30px; background-color: lavender;}
.page-calendar .banner-top h2{margin-bottom: 10px;}
.page-calendar .banner-top li + li{margin-top: 5px;}
.page-calendar{position: fixed; width: 100%; height: 100%;}
.page-calendar,
.page-calendar .wrap-calendar,
.page-calendar .area-calendar,
.page-calendar table.calendar,
.page-calendar table.calendar tbody{display: flex; flex-direction: column; flex: 1;}
.page-calendar header{display: flex; padding: 20px 50px; border-bottom: 1px solid #dcdadf;}
.page-calendar header h1{}
.page-calendar header .area-arrow{margin: 0 30px;}
.page-calendar header .area-arrow button{overflow: hidden; position: relative; width: 15px; height: 100%; text-indent: -999em;}
.page-calendar header .area-arrow button:before,
.page-calendar header .area-arrow button:after{display: block; position: absolute; top: 0; bottom: 0; width: 15px; height: 2px; margin: auto 0; background-color: #ccc; transform-origin: right; content:'';}
.page-calendar header .area-arrow button:before{transform: rotate(45deg);}
.page-calendar header .area-arrow button:after{transform: rotate(-45deg);}
.page-calendar header .area-arrow button.prev{transform: rotate(180deg); transform-origin: center;}
.page-calendar header .area-arrow button.next{margin-left: 15px;}
.page-calendar header .tit-current{}
.page-calendar header .sorting{margin-left: auto;}
.page-calendar main{}
.page-calendar table.calendar{width: 100%; height: 100%;}
.page-calendar table.calendar caption{position: absolute; left: -999em; width: 1px; height: 1px; text-indent: -999em;}
.page-calendar table.calendar tr{display: flex; flex: 1;}
.page-calendar table.calendar tr > *{width: 14.28571428571429%;}
.page-calendar table.calendar tr > * + *{border-left: 1px solid #eee;}
.page-calendar table.calendar thead{}
.page-calendar table.calendar thead tr th{padding-top: 5px; font-weight: normal; font-size: 0.85em; color: #999;}
.page-calendar table.calendar thead tr th{font-weight: normal; font-size: 0.85em; color: #999;}
.page-calendar table.calendar tbody{}
.page-calendar table.calendar tbody tr{border-bottom: 1px solid #eee;}
.page-calendar table.calendar tbody tr td{position: relative; padding: 10px; text-align: center;}
.page-calendar table.calendar tbody tr td span.date{display: inline-block; width: 1rem; height: 1rem; padding: 6px; border-radius: 100%;}
.page-calendar table.calendar tbody tr td.today span.date{background-color: lightcoral; color: #fff;}
.page-calendar table.calendar tbody tr td button.detail-plan{display: block; position: relative; z-index: 1; padding: 5px; background-color: seagreen; font-weight: bold; color: #fff;}
/* calendar layerpopup */
.wrap-calendar .layerPopup:not(.rtl){top: -50%; left: 100%; width: 200px;}
.wrap-calendar .layerPopup.rtl{top: -50%; right: 100%; width: 200px;}
.wrap-calendar .layerPopup h2.tit-popup{font-size: 12px; font-weight: normal; }
.wrap-calendar .layerPopup h3.tit-sch{margin-top: 15px; font-size: 16px;}
.wrap-calendar .layerPopup p.date{margin-top: 5px;}
.wrap-calendar .layerPopup p.desc{margin-top: 5px;}

/* layerpopup common*/
.layerPopup{position: absolute; z-index: 999; padding: 25px; background-color: #fff; border: 1px solid #eee; text-align: left; box-shadow: 10px 10px 30px rgba(0,0,0,0.2); border-radius: 10px;}
.layerPopup button.close{position: absolute; top: 5px; right: 5px; padding: 10px; transition: 0.3s;}
.layerPopup button.close:hover{opacity: 0.8;}
.layerPopup button.close:active{outline: none;}
.layerPopup button.close:active .icon-cross{transform: rotate(45deg) scale(0.8)}

/* position: fixed; top: 50%; left: 50%; z-index: 999; 
transform: translate(-50%, -50%);  */