@charset "utf-8";

*, *:after, *:before {-webkit-box-sizing:border-box; box-sizing:border-box;}
html, body {-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; text-size-adjust:none;}
html {overflow-y:auto}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, table, th, td, input, select, textarea, button {margin:0; padding:0}
body, input, textarea, select, button, table {color:#222; font-size:18px; font-family:'Malgun Gothic', Dotum, '돋움', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', Gulim, '굴림',arial, sans-serif; line-height:28px}
em {font-style:normal}
fieldset, img {border:0 none}
img {vertical-align:middle}
dl, ul, ol, menu, li {list-style:none}
input::-ms-clear {display:none}
button {border:0 none; border-radius:0; background-color:transparent; cursor:pointer}
a {color:inherit; text-decoration:none}
a:hover,
a:focus,
a:active {background-color:transparent; text-decoration:underline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

.blind {position:absolute; top:-9999em}
.sr_only{display:inline-block;position:absolute;z-index:-10;width:0 !important;height:0 !important;overflow:hidden !important;font-size:medium;line-height:normal;word-break:break-all;} /* ?���?????��?��?�� 처리?�� */


.gallery_view {position:fixed; top:0; right:0; bottom:0; left:0; background-color:#fff; z-index:900;}
.gallery_view .header {position:fixed; top:0; width:100%; min-width:320px; height:80px; background-color:#35719E; z-index:10;}
.gallery_view .header .inner {padding:0 50px;}
.gallery_view .header .title {position:absolute; top:18px; left:50px; max-width:50%;}
.gallery_view .header .h1_tit {color:#fff; font-size:36px; font-family:'HyundaiSansHeadKRBold'; line-height:44px;}
.gallery_view .header .btns_posi {position:absolute; top:0; right:48px; font-size:0; line-height:0;}
.gallery_view .header .btn_gate, .gallery_view .header .btn_share, .gallery_view .header .btn_close {float:left; width:80px; height:80px; margin:0 2px;}
.gallery_view .header .btn_gate {margin-left:24px;}
.gallery_view .header .btn_gate a, .gallery_view .header .btn_share a, .gallery_view .header .btn_close a {display:block; height:80px; background:url('https://www-trucknbus.hyundai.com/kr/images/product/ico_showroom.svg') no-repeat; opacity:0.7;}
.gallery_view .header .btn_gate a {background-position:0 -120px;}
.gallery_view .header .btn_share a {background-position:-600px -80px;}
.gallery_view .header .btn_close a {background-position:-80px -120px;}
.gallery_view .header .btn_gate a:hover, .gallery_view .header .btn_gate a:focus, .gallery_view .header .btn_share a:hover, .gallery_view .header .btn_share a:focus, .gallery_view .header .btn_close a:hover, .gallery_view .header .btn_close a:focus {opacity:1;}
.gallery_view .header .btn_thumb {float:left;}
.gallery_view .header .btn_thumb button {position:relative; padding-right:26px; height:80px; color:#fff; font-family:'HyundaiSansTextKRBold'; line-height:28px;}
.gallery_view .header .btn_thumb button:after {content:''; position:absolute; top:50%; right:0; width:18px; height:18px; margin:-9px 0 0 0; background:url('https://www-trucknbus.hyundai.com/kr/images/product/ico_showroom.svg') no-repeat -160px -120px;}
.gallery_view .header .btn_thumb.on button:after {background-position:-160px -138px;}

.gallery_view .galleryBody {width:100%; height:100%; padding-top:80px;}
/* 갤러�???? 게이?�� */
.gallery_view .galleryBody .gallery_gate {width:100%; height:100%;}
.gallery_view .galleryBody .gallery_gate .menu {position:relative; float:left; height:100%; width:100%; padding:0;}
.gallery_view .galleryBody .gallery_gate .menu a {position:relative; display:table; width:100%; height:100%; color:#fff; text-decoration:none; overflow:hidden;}
.gallery_view .galleryBody .gallery_gate .menu a:before {content:''; display:block; position:absolute; width:100%; height:100%; background-color:#35719E; opacity:0; -ms-transition:opacity 400ms; -o-transition:opacity 400ms; -moz-transition:opacity 400ms; -webkit-transition:opacity 400ms; transition:opacity 400ms;}
.gallery_view .galleryBody .gallery_gate .menu .txt_wrap {position:relative; display:table-cell; vertical-align:middle; text-align:center; -ms-transition:transform 0.3s ease; -o-transition:transform 0.3s ease; -moz-transition:transform 0.3s ease; -webkit-transition:transform 0.3s ease; transition:transform 0.3s ease;}
.gallery_view .galleryBody .gallery_gate .menu .txt_wrap .inner {}

.gallery_view .galleryBody .gallery_gate .menu a:hover:before {opacity:0.6;}
.gallery_view .galleryBody .gallery_gate .menu a:hover .txt_wrap {-ms-transform:scale(1.1, 1.1); -o-transform:scale(1.1, 1.1); -moz-transform:scale(1.1, 1.1); -webkit-transform:scale(1.1, 1.1); transform:scale(1.1, 1.1);}

.gallery_view .galleryBody .gallery_gate .menu:nth-child(1):nth-last-child(2), .gallery_view .galleryBody .gallery_gate .menu:nth-child(1):nth-last-child(2) ~ .menu {width:50%;}
.gallery_view .galleryBody .gallery_gate .menu:nth-child(1):nth-last-child(3), .gallery_view .galleryBody .gallery_gate .menu:nth-child(1):nth-last-child(3) ~ .menu {width:33.33333333%;}
/* portrait ?�� ?�� */
.portrait .gallery_view .galleryBody .gallery_gate .menu:nth-child(1):nth-last-child(2), .portrait .gallery_view .galleryBody .gallery_gate .menu:nth-child(1):nth-last-child(2) ~ .menu {width:100%; height:50%;}
.portrait .gallery_view .galleryBody .gallery_gate .menu:nth-child(1):nth-last-child(3), .portrait .gallery_view .galleryBody .gallery_gate .menu:nth-child(1):nth-last-child(3) ~ .menu {width:100%; height:33.33333333%;}
.gallery_view .galleryBody .gallery_gate .menu .img_wrap {display:block; position:absolute; top:0; left:0; width:100%; height:100%; background-repeat:no-repeat; background-position:50%; background-size:cover;}
.gallery_view .galleryBody .gallery_gate .menu .img_wrap:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.4);}


.galleryCont {width:100%; height:100%;}
.galleryCont .gallerySlide_wrap {position:relative; width:100%; height:100%;}
.galleryCont .gallerySlide_wrap .gallerySlide {width:100%; height:100%;}
.galleryCont .gallerySlide_wrap .slide_list {width:100%; height:100%;}
.galleryCont .gallerySlide_wrap .slide_list .item {float:left; width:100%; height:100%;}
.galleryCont .gallerySlide_wrap .slide_list .module {position:relative; width:100%; height:100%;}
.galleryCont .gallerySlide_wrap .slide_list .module .img_wrap {position:absolute; display:block; width:100%; height:100%; background-repeat:no-repeat; background-position:50%; background-size:cover;}
.galleryCont .gallerySlide_wrap .slide_list .module .img_wrap img {width: 100%;}
.galleryCont .gallerySlide_wrap .slide_list .module .img_wrap:after {content:''; position:absolute; left:0; bottom:0; width:100%; height:100%; height:334px; opacity: 0.4; background: rgba(0, 0, 0, 1); background: -webkit-linear-gradient(bottom,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0)); background: -o-linear-gradient(bottom,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0)); background: -moz-linear-gradient(bottom,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0)); background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));}
.galleryCont .gallerySlide_wrap .slide_list .module .img_wrap .btn_movie {position:absolute; top:50%; left:50%; width:80px; height:80px; margin:-40px 0 0 -40px; background:url('https://www-trucknbus.hyundai.com/kr/images/common/icon_all.svg') no-repeat -359px -600px; z-index:10;}
.galleryCont .gallerySlide_wrap .slide_list .module .img_wrap .btn_movie:hover, .galleryCont .gallerySlide_wrap .slide_list .module .img_wrap .btn_movie:focus {background-position:-439px -600px;}
.galleryCont .gallerySlide_wrap .slide_list .module .txt_wrap {position:relative; width:100%; height:100%;}
.galleryCont .gallerySlide_wrap .slide_list .module .txt_wrap .inner {display:table; width:100%; height:100%;}
.galleryCont .gallerySlide_wrap .slide_list .module .txt_wrap .align_cont {display:table-cell; vertical-align: bottom;}
.galleryCont .gallerySlide_wrap .slide_list .module .txt_wrap .align_cont .bg_black {background:#000; height:80px; opacity:0.8;}
.galleryCont .gallerySlide_wrap .slide_list .module .txt_wrap .align_cont .bg_black .h2_tit {font-size:36px; float:left; margin:0 36px 0 50px;}
.galleryCont .gallerySlide_wrap .slide_list .module .txt_wrap .align_cont .bg_black p{padding-top:26px; opacity:0.7;}
.galleryCont .gallerySlide_wrap .slide_list .module .txt_wrap .txt {padding-top:16px; opacity:0.7;}

.galleryCont .gallerySlide_wrap .btn_arrow {position:absolute; top:50%; width:40px; height:80px; margin-top:-40px;}
.galleryCont .gallerySlide_wrap .btn_arrow.prev {left:0;}
.galleryCont .gallerySlide_wrap .btn_arrow.next {right:0;}
.galleryCont .gallerySlide_wrap .btn_arrow .btn_prev .ico,
.galleryCont .gallerySlide_wrap .btn_arrow .btn_next .ico {width:40px; height:80px;}
.galleryCont .gallerySlide_wrap .btn_arrow .btn_prev .ico:after, .galleryCont .gallerySlide_wrap .btn_arrow .btn_next .ico:after {top:0; width:40px; height:80px; margin:0; background:url('https://www-trucknbus.hyundai.com/kr/images/common/icon_all.svg') no-repeat;}
.galleryCont .gallerySlide_wrap .btn_arrow .btn_prev .ico:after {background-position:0 0;}
.galleryCont .gallerySlide_wrap .btn_arrow .btn_next .ico:after {background-position:-40px 0;}

.galleryCont .gallerySlide_wrap .btn_arrow .btn_prev:hover .ico:after, .galleryCont .gallerySlide_wrap .btn_arrow .btn_prev:focus .ico:after {background-position:0 -80px;}
.galleryCont .gallerySlide_wrap .btn_arrow .btn_next:hover .ico:after, .galleryCont .gallerySlide_wrap .btn_arrow .btn_next:focus .ico:after {background-position:-40px -80px;}

/* ?��?��?�� 버전 */
.galleryCont .gallerySlide_wrap .slide_list .module.dark .img_wrap .btn_movie {background-position:-516.5px -600px;-ms-background-position-x:-517.5px;}/*191118 modify*/
.galleryCont .gallerySlide_wrap .slide_list .module.dark .img_wrap .btn_movie:hover, .galleryCont .gallerySlide_wrap .slide_list .module.dark .img_wrap .btn_movie:focus {background-position:-437px -600px;}
.galleryCont .gallerySlide_wrap .slide_list .module.dark .txt_wrap {color:#fff}

/* ?��?��?�� 리스?�� */
.galleryCont .thumbCont {position:absolute; top:-140px; left:0; width:100%; height:220px; background-color:#35719E; opacity:0; -ms-transition:top 0.5s ease, opacity 0.5s ease; -o-transition:top 0.5s ease, opacity 0.5s ease; -moz-transition:top 0.5s ease, opacity 0.5s ease; -webkit-transition:top 0.5s ease, opacity 0.5s ease; transition:top 0.5s ease, opacity 0.5s ease;}
/*.galleryCont .thumbCont .thumbSlide_wrap {padding:40px 30px 0 30px;}*/
.galleryCont .thumbCont .thumbSlide_wrap {padding:40px 50px 0 30px;} /* 180726_수정 */
.galleryCont .thumbCont .thumbSlide {position:relative;}
.galleryCont .thumbCont .slide_list {}
.galleryCont .thumbCont .slide_list:after {content:''; display:table; clear:both;}
/*.galleryCont .thumbCont .slide_list .item {float:left; width:270px; margin:0 20px;}*/
.galleryCont .thumbCont .slide_list .item {float:left; width:270px; margin:2px 20px;} /* 180718_웹접근성 수정 */
.galleryCont .thumbCont .slide_list .item a{display:block;}
.galleryCont .thumbCont .slide_list .item a:focus,
.galleryCont .thumbCont .slide_list .item a:active{outline-style:dotted;}
.galleryCont .thumbCont .slide_list .item .img_wrap {position:relative;}
.galleryCont .thumbCont .slide_list .item.on .img_wrap:after{content:'';display:block;position:absolute;top:0;width:100%;height:100%;border:4px solid #fff;background:#35719E;z-index:10;opacity:0.6;} /* 180726_추가 */
.galleryCont .thumbCont .slide_list .item .img_wrap img {max-width:100%;}
.galleryCont .thumbCont .slide_list .item .img_wrap .btn_movie {position:absolute; top:50%; left:50%; width:40px; height:40px; margin:-20px 0 0 -20px; background:url('https://www-trucknbus.hyundai.com/kr/images/common/icon_all.svg') no-repeat -357px -680px;}

.galleryCont .thumbCont .thumbSlide_wrap .btn_arrow {position:absolute; top:50%; width:50px; height:50px; margin-top:-25px;}
.galleryCont .thumbCont .thumbSlide_wrap .btn_arrow.prev {left:0;}
.galleryCont .thumbCont .thumbSlide_wrap .btn_arrow.next {right:0;}
.galleryCont .thumbCont .thumbSlide_wrap .btn_arrow .btn_prev .ico, .galleryCont .thumbCont .thumbSlide_wrap .btn_arrow .btn_next .ico {width:50px; height:50px;}
.galleryCont .thumbCont .thumbSlide_wrap .btn_arrow .btn_prev .ico:after, .galleryCont .thumbCont .thumbSlide_wrap .btn_arrow .btn_next .ico:after {top:0; width:50px; height:50px; margin:0; background:url('https://www-trucknbus.hyundai.com/kr/images/product/ico_showroom.svg') no-repeat;}
.galleryCont .thumbCont .thumbSlide_wrap .btn_arrow .btn_prev .ico:after {background-position:0 -340px;}
.galleryCont .thumbCont .thumbSlide_wrap .btn_arrow .btn_next .ico:after {background-position:-50px -340px;}

.galleryCont .thumbCont.open {top:80px; z-index:1; opacity:1; -ms-transition:top 0.5s ease, opacity 0.5s ease; -o-transition:top 0.5s ease, opacity 0.5s ease; -moz-transition:top 0.5s ease, opacity 0.5s ease; -webkit-transition:top 0.5s ease, opacity 0.5s ease; transition:top 0.5s ease, opacity 0.5s ease;}

/* 갤러�???? ?��????�� ?�� */
.gallery_open {overflow:hidden; overflow-y:scroll}
