
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; }
body {direction: ltr; -webkit-font-smoothing: antialiased;  -webkit-text-size-adjust: none; font-size:16px;}
em {font-style:normal;}
fieldset, img {border:0 none;}
img {vertical-align:middle;}
dl, ul, ol, menu, li {list-style:none;}
input::-ms-clear {display:none;}
button {border:0 none; border-radius:0; background-color:transparent; cursor:pointer;}
a {color:inherit; text-decoration:none}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
.none {display:none;} 
.blind {position:absolute; top:-9999px; left:-9999px; width:0; height:0; font-size:0; text-indent:-9999px;}

/* skip */
.skipnavi {}
.skipnavi ul li a {display:block; position:absolute; width:100%; top:-100%; height:50px; background:#444; -webkit-box-sizing:border-box;  -moz-box-sizing:border-box; box-sizing:border-box; line-height:50px; text-align:center; color:#fff; -webkit-transition:all 300ms; -o-transition:all 300ms; -moz-transition:all 300ms; transition:all 300ms;}
.skipnavi ul li a:focus {top:0;}


.header { padding: 10px; border-bottom: 1px solid #cfcfcf; -webkit-box-sizing: border-box; box-sizing: border-box; }
.head-inner { display: table; position: relative; }
.head-inner:after { display: block; clear: both; content: ""; }
.head-inner > * { display: table-cell; vertical-align: middle; }
.header .title { display: inline-block; width: 260px; }
.header .day-btn {}
.header .to-day { padding: 8px 15px; border: 1px solid #cfcfcf; border-radius: 5px; font-size: 0.8125rem; }
.header .load-btn { padding-left: 20px; }
.header .load-btn:after { display: block; clear: both; content: ""; }
.load-btn > * { float: left; }
.load-btn .btn { position: relative; width: 30px; height: 30px; text-indent: -9999px; }
.load-btn .prev .btn:before { display: block; position: absolute; top: 10px; left: 50%; width: 11px; height: 2px; background: #999; transform: translateX(-50%) rotate(135deg); -webkit-transform: translateX(-50%) rotate(135deg); content: ""; }
.load-btn .prev .btn:after { display: block; position: absolute; bottom: 10px; left: 50%; width: 11px; height: 2px; background: #999; transform: translateX(-50%) rotate(-135deg); -webkit-transform: translateX(-50%) rotate(-135deg); content: ""; }
.load-btn .next .btn:before { display: block; position: absolute; top: 10px; right: 50%; width: 11px; height: 2px; background: #999; transform: translateX(50%) rotate(45deg); content: ""; }
.load-btn .next .btn:after { display: block; position: absolute; bottom: 10px; right: 50%; width: 11px; height: 2px; background: #999; transform: translateX(50%) rotate(-45deg); content: ""; }
.header .day-time { padding-left: 20px; }
.day-time .date {}
.day-time .current-time {}

#content {overflow:hidden; position:relative; width:100%; height:700px;}

.side-bar {float:left; position:relative; width:250px; height:100%; padding:0 15px;  -webkit-box-sizing:border-box; box-sizing:border-box;}
.mini-calendar-zone {}
.mini-head {padding:15px 0;}
.mini-head:after {display:block; clear:both; content:"";}
.mini-date {float:left;}
.mini-date .ym {font-size:0.75rem; font-weight:500; }
.mini-article {float:right;}
.mini-article:after {display:block; clear:both; content:"";}
.mini-article .prev {}
.mini-article .next {}
.mini-article .btn {position: relative; width: 20px; height: 20px; text-indent: -9999px;}
.mini-article .prev .btn:before { display: block; position: absolute; top: 6px; left: 50%; width: 8px; height: 2px; background: #999; transform: translateX(-50%) rotate(135deg); -webkit-transform: translateX(-50%) rotate(135deg); content: ""; }
.mini-article .prev .btn:after { display: block; position: absolute; bottom: 6px; left: 50%; width: 8px; height: 2px; background: #999; transform: translateX(-50%) rotate(-135deg); -webkit-transform: translateX(-50%) rotate(-135deg); content: ""; }
.mini-article .next .btn:before { display: block; position: absolute; top: 6px; right: 50%; width: 8px; height: 2px; background: #999; transform: translateX(50%) rotate(45deg); content: ""; }
.mini-article .next .btn:after { display: block; position: absolute; bottom: 6px; right: 50%; width: 8px; height: 2px; background: #999; transform: translateX(50%) rotate(-45deg); content: ""; }



/* 캘린더 */
/* .date-line {display:-webkit-flex; display:flex; -webkit-flex-direction: row; flex-direction: row;}
.date-line > .day {display:block; width:calc(100% / 2);} */
.date-line { -webkit-column-count:7; column-count: 7; -webkit-column-rule: 1px solid #dadce0 ; column-rule: 1px solid #dadce0;}
.date-line .days {display:block; text-align:center; }
.date-line .day {-webkit-border-radius:10px; border-radius:10px; font-size:0.875em; color:#333;}
.date-line .current .day {background:#906fdf; color:#fff; }
.date-line .day:focus,
.date-line .day:hover {background:#eaeaea; color:#333;}
.days [class*="m-"].day {font-size:0.75em; color:#999;}

.mini-calendar {}
.mini-calendar .date-line { -webkit-justify-content:space-between; justify-content:space-between; -webkit-column-rule:initial; column-rule:initial; -webkit-column-gap: 5px; column-gap: 5px;}
.mini-calendar .days {}
.mini-calendar .days:first-child .day {color:#e65261}
.mini-calendar .days:last-child .day {color:#5a97e5;}
.mini-calendar .day {}
.mini-calendar .week-box {}
.mini-calendar .week-box .day {}
.mini-calendar .calendar {}
.mini-calendar [class*="s-m"] {position:absolute; top:-9999px; left:-9999px; width:0; height:0; font-size:0; text-indent:-9999px; }

.calendar-zone {position:relative; width:calc(100% - 250px); height:100%; margin-left:250px; border-left:1px solid #dadce0 ; -webkit-box-sizing:border-box; box-sizing:border-box;}
.calendar-zone .date-line {-webkit-column-gap: 0px; column-gap: 0px; }
.calendar-zone .week-box { }
.calendar-zone .week-box .days {padding:10px 0;}
.calendar-zone .calendar { }
.calendar-zone .calendar .date-line {border-top:1px solid #dadce0 ; }
.calendar-zone .calendar .date-line:first-child {border-top:none; }
.calendar-zone .calendar .days {height:100%; }








