
// Break Point (Desktop First 기준 내림차순 설정)
$desktop-l-width	: 1440px;
$container-out-width: 1200px;
$tablet-l-width		: 1024px;
$tablet-s-width		: 767px;
$mob-l-width		: 640px;
$mob-m-width		: 425px;
$mob-s-width		: 375px;

/* Base Font */
$--base-font-head: 'HyundaiSansHeadKR' !default;
$--base-font-text: 'HyundaiSansTextKR' !default;
$--base-font-head-regular: 'HyundaiSansHeadKRR' !default;
$--base-font-text-regular: 'HyundaiSansTextKRR' !default;
$--base-font-size: 16px !default;
$--base-font-color: #666;

/* 차량상세 제네시스 Font */
$--genesis-font-head: 'GenesisSansHeadKRRegular' !default;
$--genesis-font-head-regular: 'GenesisSansHeadKRLight' !default;
$--genesis-font-text: 'GenesisSansTextKRMedium' !default;
$--genesis-font-text-bold: 'GenesisSansTextKRBold' !default;
$--genesis-font-text-regular: 'GenesisSansTextKRRegular' !default;


// Font Set - for PC
$fontA: (
  "name": $--base-font-head,
  "size": 58px,
  "spacing": -25,
  "linegap": 68px
);
$fontB: (
  "name": $--base-font-head,
  "size": 44px,
  "spacing": -25,
  "linegap": 58px,
  "weight": normal
);
$fontC: (
  "name": $--base-font-head,
  "size": 30px,
  "spacing": -25,
  "linegap": 44px,
  "weight": normal
);
$fontD: (
  "name": $--base-font-head,
  "size": 20px,
  "spacing": -25,
  "linegap": 34px,
  "weight": normal
);
$fontE: (
  "name": $--base-font-text,
  "size": 16px,
  "spacing": -25,
  "linegap": 30px
  // "weight": 500
);
$fontF: (
  "name": $--base-font-head-regular,
  "size": 16px,
  "spacing": -25,
  "linegap": 30px,
  // "weight": normal
);
$fontG: (
  "name": $--base-font-text,
  "size": 14px,
  "spacing": -25,
  "linegap": 28px,
  // "weight": 500
);
$fontH: (
  "name": $--base-font-text-regular,
  "size": 14px,
  "spacing": -25,
  "linegap": 28px,
  // "weight": normal
);
$fontI: (
  "name": $--base-font-text-regular,
  "size": 12px,
  "spacing": 0,
  "linegap": 18px
  // "weight": normal
);
$fontJ: (
  "name": $--base-font-text,
  "size": 12px,
  "spacing": 18,
  "linegap": 0
);
$fontK: (
  "name": $--base-font-head,
  "size": 16px,
  "spacing": -25,
  "linegap": 30px
);
$fontL: (
  "name": $--base-font-head-regular,
  "size": 16px,
  "spacing": -25,
  "linegap": 30px
);
$fontM: (
  "name": $--base-font-head,
  "size": 14px,
  "spacing": -25,
  "linegap": 30px
);
$fontN: (
  "name": $--base-font-head-regular,
  "size": 14px,
  "spacing": -25,
  "linegap": 30px
);


// Font Set - for mobile
$mobile-fontA: (
  "name": $--base-font-head,
  "size": 56px / 2,
  "spacing": -25,
  "linegap": 68px / 2
);
$mobile-fontB: (
  "name": $--base-font-head,
  "size": 54px / 2,
  "spacing": -25,
  "linegap": 70px / 2 ,
  "weight": normal
);
$mobile-fontC: (
  "name": $--base-font-head,
  "size": 42px / 2,
  "spacing": -25,
  "linegap": 58px / 2 ,
  "weight": normal
);
$mobile-fontD: (
  "name": $--base-font-head,
  "size": 32px / 2,
  "spacing": -25,
  "linegap": 48px / 2 ,
  "weight": normal
);
$mobile-fontE: (
  "name": $--base-font-text,
  "size": 28px / 2,
  "spacing": -25,
  "linegap": 44px / 2
  // "weight": 500
);
$mobile-fontF: (
  "name": $--base-font-text-regular,
  "size": 28px / 2,
  "spacing": -25,
  "linegap": 44px / 2 ,
  // "weight": normal
);
$mobile-fontG: (
  "name": $--base-font-text,
  "size": 26px / 2,
  "spacing": -25,
  "linegap": 42px / 2 ,
  // "weight": 500
);
$mobile-fontH: (
  "name": $--base-font-text-regular,
  "size": 26px / 2,
  "spacing": -25,
  "linegap": 42px / 2 ,
  // "weight": normal
);
$mobile-fontI: (
  "name": $--base-font-text,
  "size": 24px / 2,
  "spacing": -25,
  "linegap": 40px / 2 ,
  // "weight": normal
);
$mobile-fontJ: (
  "name": $--base-font-text-regular,
  "size": 24px / 2,
  "spacing": -25,
  "linegap": 40px / 2 ,
  // "weight": 500
);
$mobile-fontK: (
  "name": $--base-font-text,
  "size": 30px / 2,
  "spacing": -25,
  "linegap": 46px / 2 ,
  // "weight": 500
);
$mobile-fontL: (
  "name": $--base-font-text-regular,
  "size": 30px / 2,
  "spacing": -25,
  "linegap": 46px / 2 ,
  // "weight": 500
);
$mobile-fontM: (
  "name": $--base-font-text,
  "size": 28px / 2,
  "spacing": -25,
  "linegap": 44px / 2 ,
  // "weight": 500
);


// 차량상세 제네시스전용 폰트
$GfontA: (
  "name": $--genesis-font-head,
  "size": 58px,
  "spacing": -25,
  "linegap": 68px
);
$GfontB: (
  "name": $--genesis-font-head,
  "size": 44px,
  "spacing": -25,
  "linegap": 58px,
  "weight": normal
);
$GfontC: (
  "name": $--genesis-font-head,
  "size": 30px,
  "spacing": -25,
  "linegap": 44px,
  "weight": normal
);
$GfontD: (
  "name": $--genesis-font-head,
  "size": 20px,
  "spacing": -25,
  "linegap": 34px,
  "weight": normal
);
$GfontE: (
  "name": $--genesis-font-text,
  "size": 16px,
  "spacing": -25,
  "linegap": 30px
  // "weight": 500
);
$GfontF: (
  "name": $--genesis-font-head-regular,
  "size": 16px,
  "spacing": -25,
  "linegap": 30px,
  // "weight": normal
);
$GfontG: (
  "name": $--genesis-font-text,
  "size": 14px,
  "spacing": -25,
  "linegap": 28px,
  // "weight": 500
);
$GfontH: (
  "name": $--genesis-font-text-regular,
  "size": 14px,
  "spacing": -25,
  "linegap": 28px,
  // "weight": normal
);
$GfontI: (
  "name": $--genesis-font-text-regular,
  "size": 12px,
  "spacing": 0,
  "linegap": 18px
  // "weight": normal
);
$GfontJ: (
  "name": $--genesis-font-text,
  "size": 12px,
  "spacing": 18,
  "linegap": 0
);
$GfontK: (
  "name": $--genesis-font-head,
  "size": 16px,
  "spacing": -25,
  "linegap": 30px
);
$GfontL: (
  "name": $--genesis-font-head-regular,
  "size": 16px,
  "spacing": -25,
  "linegap": 30px
);
$GfontM: (
  "name": $--genesis-font-head,
  "size": 14px,
  "spacing": -25,
  "linegap": 30px
);
$GfontN: (
  "name": $--genesis-font-head-regular,
  "size": 14px,
  "spacing": -25,
  "linegap": 30px
);


// Font Set - for mobile
$mobile-GfontA: (
  "name": $--genesis-font-head,
  "size": 56px / 2,
  "spacing": -25,
  "linegap": 68px / 2
);
$mobile-GfontB: (
  "name": $--genesis-font-head,
  "size": 54px / 2,
  "spacing": -25,
  "linegap": 70px / 2 ,
  "weight": normal
);
$mobile-GfontC: (
  "name": $--genesis-font-head,
  "size": 42px / 2,
  "spacing": -25,
  "linegap": 58px / 2 ,
  "weight": normal
);
$mobile-GfontD: (
  "name": $--genesis-font-head,
  "size": 32px / 2,
  "spacing": -25,
  "linegap": 48px / 2 ,
  "weight": normal
);
$mobile-GfontE: (
  "name": $--genesis-font-text,
  "size": 28px / 2,
  "spacing": -25,
  "linegap": 44px / 2
  // "weight": 500
);
$mobile-GfontF: (
  "name": $--genesis-font-text-regular,
  "size": 28px / 2,
  "spacing": -25,
  "linegap": 44px / 2 ,
  // "weight": normal
);
$mobile-GfontG: (
  "name": $--genesis-font-text,
  "size": 26px / 2,
  "spacing": -25,
  "linegap": 42px / 2 ,
  // "weight": 500
);
$mobile-GfontH: (
  "name": $--genesis-font-text-regular,
  "size": 26px / 2,
  "spacing": -25,
  "linegap": 42px / 2 ,
  // "weight": normal
);
$mobile-GfontI: (
  "name": $--genesis-font-text,
  "size": 24px / 2,
  "spacing": -25,
  "linegap": 40px / 2 ,
  // "weight": normal
);
$mobile-GfontJ: (
  "name": $--genesis-font-text-regular,
  "size": 24px / 2,
  "spacing": -25,
  "linegap": 40px / 2 ,
  // "weight": 500
);
$mobile-GfontK: (
  "name": $--genesis-font-text,
  "size": 30px / 2,
  "spacing": -25,
  "linegap": 46px / 2 ,
  // "weight": 500
);
$mobile-GfontL: (
  "name": $--genesis-font-text-regular,
  "size": 30px / 2,
  "spacing": -25,
  "linegap": 46px / 2 ,
  // "weight": 500
);
$mobile-GfontM: (
  "name": $--genesis-font-text,
  "size": 28px / 2,
  "spacing": -25,
  "linegap": 44px / 2 ,
  // "weight": 500
);


/* Base Color */
$--base-color-black: #000000;
$--base-color-blue: #002c5e;
$--base-color-sand: #e4dcd3;
$--base-color-lightsand: #f6f3f2;
$--base-color-white: #ffffff;
$--base-color-activeblue: #007fa8;
$--base-color-active-red: #e63312;
//$--base-color-gold: #a36b4f;
//$--base-color-skyblue: #aacae6;
$--base-color-sub: #666666;
$--base-color-sub2: #999999;
$--base-color-sub3: #b1b1b1;
$--base-color-gray: #f5f5f5;
$--base-color-bluegray: #edf2f7;
$--base-color-disable: #cecdca;
$--base-color-lightgray: #cccccc;

/* 견적 Colors */
$--base-color-deepsky: #0198bd;
$--base-color-bluesky: #4671cf;
$--base-color-apple: #72b816;
$--base-color-dgray: #7c8191;
$--base-color-sub2: #4a4a4a;
$--base-color-point2: #84aac8;
$--base-color-lightblue: #ebf2f9;
$--base-color-lightblue2: #f1f5f9;

// text-color
$--text-color-black:$--base-color-black;
$--text-color-sub:$--base-color-sub; 
$--text-color-blue:$--base-color-blue;
$--text-color-sand:$--base-color-sand; 
$--text-color-activeblue:$--base-color-activeblue;

// background
// 해당 색상 $--base-color-xxx 를 사용합니다.

/* Background colors */
$--popup-bg-color: #fff;

/* Title */
$--title-k1-size: 58px;
$--title-k2-size: 16px;
$--title-h1-size: 44px;
$--title-s1-size: 16px;
$--title-h2-size: 30px;
$--title-h3-size: 20px;

/* Text */
$--text-b1-size: 16px;
$--text-c1-size: 14px;
$--text-c2-size: 12px;

/* Button Color */
$--btn-other-bg: #ededed;

/* Icon images URL */

/* Bullet images URL */

/* 차종별 내,외장 컬러 칩셋 파일명 map */
// 사각 칩셋은 border가 없는 하나의 이미지로 처리
// 크기가 다른 내장 이미지도 width,height max 하나의 이미지로 처리

// 0819 현재 현업 & 디자인업체 협의 중... (진행 피드백 이후 컬러칩 재정의)
// API코드 색상 코드는 하나인데 png 색상이 다른 경우가 존재함.
// 예로 팬텀블랙(차량별 i30,아반떼,벨로스터N,투싼,싼타페.. 상이함)

$colorchips: (
  // 아반떼 AD
  AD06: (
    ex: (
      NKA:    'avante-exterior-phantom-black',
      PR2:    'avante-exterior-fiery-red',
      TB5:    'avante-exterior-teal-blue',
      WAW:    'avante-exterior-polar-white',
      YP5:    'avante-exterior-intense-blue',
      YT3:    'avante-exterior-iron-grey',
      TN6:    'avante-exterior-the-denim',
      T2X:    'avante-exterior-typhoon-silver'
    ),
    in: (
      TRY:    'avante-interior-black-textile',
      XUG:    'avante-interior-beige-textile',
      TRY01:  'avante-interior-brown-leather',
      TRY02:  'avante-interior-red-leather',
      TRY03:  'avante-interior-teal-blue-leather',
      TRY04:  'avante-interior-black-leather'
    ),
    img: (
      TRY:    'img-avante-interior-black',
      XUG:    'img-avante-interior-beige',
      TRY01:  'img-avante-interior-brown',
      TRY02:  'img-avante-interior-red',
      TRY03:  'img-avante-interior-teal-blue',
      TRY04:  'img-avante-interior-black-red'
    )
  ),
  // 쏘나타 DN8
  DN03: (
    ex: (
      NB9:    'sonata-exterior-midnight-black',
      NT2:    'sonata-exterior-hampton-grey',
      R2T:    'sonata-exterior-shimmering-silver',
      T2G:    'sonata-exterior-nocturne-grey',
      W2B:    'sonata-exterior-glowing-yellow',
      WC9:    'sonata-exterior-white-cream',
      XB2:    'sonata-exterior-oxford-blue',
      Y2E:    'sonata-exterior-flame-red'
    ),
    in: (
      NNB:    'sonata-interior-black-onetone',
      WDN:    'sonata-interior-navy-twotone',
      REY:    'sonata-interior-greige-twotone',
      MMF:    'sonata-interior-camel-twotone'
    ),
    img: (
      NNB:    'img-sonata-interior-black-onetone',
      WDN:    'img-sonata-interior-navy-twotone',
      REY:    'img-sonata-interior-greige-twotone',
      MMF:    'img-sonata-interior-camel-twotone'
    )
  ),
  // LF 쏘나타 (쏘나타택시)
  GF14: (
    ex: (
    ),
    in: (
      TRY:    'blank-in'
    ),
    img: (
    )
  ),
  // 그랜저 IG
  IG05: (
    ex: (
      N9V:    'grandeur-exterior-ion-silver',
      NB9:    'grandeur-exterior-midnight-black',
      S9C:    'grandeur-exterior-shade-bronze',
      T2G:    'grandeur-exterior-nocturne-grey',
      WC9:    'grandeur-exterior-white-cream',
    ),
    in: (
      NNB:    'grandeur-interior-black',
      VVB:    'grandeur-interior-brown',
      VTC:    'grandeur-interior-camel-prime',
      NUB:    'grandeur-interior-beige',
    ),
    img: (
      NNB:    'img-grandeur-interior-black-mono',
      VVB:    'img-grandeur-interior-brown-2tone',
      VTC:    'img-grandeur-interior-camel-prime',
      NUB:    'img-grandeur-interior-beige-2tone',
    )
  ),
  // 그랜저 택시
  IG06: (
    ex: (
      BHY:    'blank-ex',  // 그랜저택시
    ),
    in: (
    ),
    img: (
    )
  ),
  // 그랜드 스타렉스
  JA05: (
    ex: (
    ),
    in: (
      KD:     'blank-in',
      YR:     'blank-in',
      NNB:    'blank-in',
      NNB14:  'blank-in'
    ),
    img: (
    )
  ),
  // 밸로스터 N 
  JS03: (
    ex: (
      P6W:    'veloster-n-exterior-chalk-white',
      SS7:    'veloster-n-exterior-lake-silver',
      SFB:    'veloster-n-exterior-perfomance-blue',
      MFR:    'veloster-n-exterior-ignite-flame',
      T5R:    'veloster-n-exterior-shooting-star',
      MZH:    'veloster-n-exterior-phantom-black',
    ),
    in: (
      NNB:  'veloster-n-interior-black',
    ),
    img: (
      NNB:  'img-veloster-n-interior-black',
    )
  ),
  // 밸로스터
  JS04: (
    ex: (
      MZH:    'veloster-n-exterior-phantom-black',
      P6W:    'veloster-n-exterior-chalk-white',
      SS7:    'veloster-n-exterior-lake-silver',
      T5R:    'veloster-n-exterior-shooting-star',
      MF1:    'veloster-exterior-ignite-flame', 
      MF2:    'veloster-exterior-ignite-flame', 
      MF3:    'veloster-exterior-ignite-flame', 
      MZ3:    'veloster-exterior-phantom-black',
      P41:    'veloster-exterior-cobalt-eclipse', 
      P42:    'veloster-exterior-cobalt-eclipse', 
      P43:    'veloster-exterior-cobalt-eclipse', 
      P61:    'veloster-exterior-chalk-white', 
      SS1:    'veloster-exterior-lake-silver', 
      TT1:    'veloster-exterior-tangerine-comet', 
      TT2:    'veloster-exterior-tangerine-comet', 
      TT3:    'veloster-exterior-tangerine-comet', 
      TV1:    'veloster-exterior-thunderbolt', 
      TV2:    'veloster-exterior-thunderbolt', 
      YG1:    'veloster-exterior-dark-night', 
      S9T:    'veloster-exterior-ice-storm',
      YG7:    'veloster-exterior-dark-night' 
    ),
    in: (
      TRY05:  'veloster-interior-black-blue-stitch',
      TRY06:  'veloster-interior-black-yellow-stitch',
      TRY07:  'veloster-interior-black-red-stitch-01',
      TRY08:  'veloster-interior-black-red',
      RRE:    'veloster-interior-black-machine-red',
      RJS:    'veloster-interior-sand-storm-grey',
      PPG:    'veloster-interior-pulse-grey'
    ),
    img: (
      TRY05:  'img-veloster-interior-black-blue-stitch',
      TRY06:  'img-veloster-interior-black-yellow-stitch',
      TRY07:  'img-veloster-interior-black-red-stitch',
      TRY08:  'img-veloster-interior-black-red',
      RRE:    'img-veloster-interior-black-machinered',
      RJS:    'img-veloster-interior-sand-storm-grey',
      PPG:    'img-veloster-interior-pulse-grey'
    )
  ),  
  // 팰리세이드
  LX02: (
    ex: (
      P7V:    'palisade-exterior-steel-graphite',
      RB5:    'palisade-exterior-timeless-black',
      RN7:    'palisade-exterior-taiga-brown',
      UB7:    'palisade-exterior-moonlight-cloud',
      WC9:    'palisade-exterior-white-cream'
    ),
    in: (
      NNB:    'palisade-interior-black-leatherette',
      WNX:    'palisade-interior-burgundy-nappa',
      WDN:    'palisade-interior-warm-grey-nappa'
    ),
    img: (
      NNB:    'img-palisade-interior-black-leatherette',
      WNX:    'img-palisade-interior-burgundy',
      WDN:    'img-palisade-interior-warm-grey'
    )
  ),
  // 코나
  OS04: (
    ex: (
    ),
    in: (
      TRY:    'blank-in',
      TRY09:  'blank-in',
      TRY10:  'blank-in',
      YAK:    'blank-in'
    ),
    img: (
    )
  ),
  // i30 PD
  PD04: (
    ex: (
      NKA:    'i30-exterior-phantom-black',
      PR2:    'i30-exterior-fiery-red',
      TN6:    'i30-exterior-the-denim',
      WAW:    'i30-exterior-polar-white',
      YP5:    'i30-exterior-intense-blue',
      YT3:    'i30-exterior-iron-grey',
      YR2:    'i30-exterior-lava-orange'
    ),
    in: (
      TRY:    'i30-interior-black-textile',
      TRY11:  'i30-interior-indigo-blue-leather',
      TRY12:  'i30-interior-glam-burgundy-leather',
      TRY13:  'i30-interior-black-leather',
    ),
    img: (
      TRY:    'img-i30-interior-black',
      TRY11:  'img-i30-interior-indigo-blue',
      TRY12:  'img-i30-interior-glam-burgundy',
      TRY13:  'img-i30-interior-black-red-accent',
    )
  ),
  // 엑센트
  RB03: (
    ex: (
    ),
    in: (
      TRY:    'blank-in',
    ),
    img: (
    )
  ),
  // 투싼 TL
  TL04: (
    ex: (
      M8N:    'tucson-exterior-sage-brown',
      PKW:    'tucson-exterior-pure-white',
      R2U:    'tucson-exterior-aqua-blue',
      R5R:    'tucson-exterior-gemstone-red',
      TCM:    'tucson-exterior-phantom-black',
      TW3:    'tucson-exterior-white-cream',
      U5S:    'tucson-exterior-platinum-silver',
      XB3:    'tucson-exterior-dusk-blue',
      Z5G:    'tucson-exterior-pepper-grey'
    ),
    in: (
      TRY:    'tucson-interior-black-leatherette',
      WTX:    'tucson-interior-khaki-brown-leatherette',
      WRJ:    'tucson-interior-redwine-leather'
    ),
    img: (
      TRY:    'img-tucson-interior-black-onetone',
      WTX:    'img-tucson-interior-khaki-brown-twotone',
      WRJ:    'img-tucson-interior-redwine-twotone'
    )
  ),
  // 그랜저 Hybrid
  IG03: (
    ex: (
      WC9:    'grandeur-hybrid-exterior-white-cream',
      T2G:    'grandeur-hybrid-exterior-nocturne-grey',
      NB9:    'grandeur-hybrid-exterior-midnight-black'
    ),
    in: (
      NNB:    'grandeur-hybrid-interior-black',
      VVB:    'grandeur-hybrid-interior-brown',
      NUB:    'grandeur-hybrid-interior-beige',
      VTC:    'grandeur-hybrid-interior-camel-prime'
    ),
    img: (
    )
  ),
  // 코나 Electric
  OS03: (
    ex: (
      P6W:    'kona-electric-exterior-chalk-white',
      P61:    'kona-electric-exterior-chalk-white',
      R31:    'kona-electric-exterior-galactic-grey',
      R3G:    'kona-electric-exterior-galactic-grey',
      SU8:    'kona-electric-exterior-ceramic-blue',
      SU1:    'kona-electric-exterior-ceramic-blue',
      YG7:    'kona-electric-exterior-dark-night',
      MZH:    'kona-electric-exterior-phantom-black',
      Y2R:    'kona-electric-exterior-pulse-red',
      Y21:    'kona-electric-exterior-pulse-red'
    ),
    in: (
      SRX:    'kona-electric-interior-black-leather',
      TRY:    'kona-electric-interior-stone-grey-leather'
    ),
    img: (
    )
  ),
  // 넥쏘 
  FE02: (
    ex: (
      TW3:    'nexo-exterior-white-cream',
      V3S:    'nexo-exterior-cocoon-silver',
      R3C:    'nexo-exterior-copper-metallic',
      Y3G:    'nexo-exterior-titanium-grey',
      XB3:    'nexo-exterior-dusk-blue'
    ),
    in: (
      SRX:    'nexo-interior-gray-twotone',
      UUG:    'nexo-interior-blue-onetone'
    ),
    img: (
      SRX:    'img-nexo-interior-gray-twotone',
      UUG:    'img-nexo-interior-blue-onetone'
    )
  ),
  // 아이오닉 Hybrid 
  AE14: (
    ex: (
      WAW:    'ioniq-hybrid-exterior-polar-white',
      M6T:    'ioniq-hybrid-exterior-fluids-metal',
      S5P:    'ioniq-hybrid-exterior-liquid-sand',
      YT3:    'ioniq-hybrid-exterior-iron-grey',
      NKA:    'ioniq-hybrid-exterior-phantom-black',
      YP5:    'ioniq-hybrid-exterior-intense-blue',
      PR2:    'ioniq-hybrid-exterior-fiery-red'
    ),
    in: (
      T9Y:    'ioniq-hybrid-interior-black-leather',
      YPK:    'ioniq-hybrid-interior-grey-leather',
      RNR:    'ioniq-hybrid-interior-red-umber-leather'
    ),
    img: (
      T9Y:    'img-ioniq-hybrid-interior-black',
      YPK:    'img-ioniq-hybrid-interior-grey',
      RNR:    'img-ioniq-hybrid-interior-red-umber'
    )
  ),
  // 아이오닉 Electric 
  AE16: (
    ex: (
      WAW:    'ioniq-electric-exterior-polar-white',
      M6T:    'ioniq-electric-exterior-fluids-metal',
      S5P:    'ioniq-electric-exterior-liquid-sand',
      YT3:    'ioniq-electric-exterior-iron-grey',
      NKA:    'ioniq-electric-exterior-phantom-black',
      YP5:    'ioniq-electric-exterior-intense-blue',
      PR2:    'ioniq-electric-exterior-fiery-red'
    ),
    in: (
      T9Y:    'ioniq-electric-interior-black-leather',
      YPK:    'ioniq-electric-interior-grey-leather',
      RNR:    'ioniq-electric-interior-red-umber-leather'
    ),
    img: (
      T9Y:    'img-ioniq-electric-interior-black',
      YPK:    'img-ioniq-electric-interior-grey',
      RNR:    'img-ioniq-electric-interior-red-umber'
    )
  ),
  // 싼타페 TM 
  TM03: (
    ex: (
      WW2:    'santafe-exterior-white-cream',
      T2X:    'santafe-exterior-typoon-silver',
      W2P:    'santafe-exterior-wild-explorer',
      M2F:    'santafe-exterior-magnetic-force',
      Y2B:    'santafe-exterior-earthy-bronze',
      R2F:    'santafe-exterior-rain-forest',
      ST2:    'santafe-exterior-stormy-sea',
      NKA:    'santafe-exterior-phantom-black',
      Y2R:    'santafe-exterior-lava-orange'
    ),
    in: (
      NNB:    'santafe-interior-black-leatherette',
      YPJ:    'santafe-interior-grey-twotone-leatherette',
      RTP:    'santafe-interior-dark-beige-twotone-leather',
      VGD:    'santafe-interior-burgundy-twotone-nappa'
    ),
    img: (
      NNB:    'img-santafe-interior-black-leatherette',
      YPJ:    'img-santafe-interior-grey-twotone-leatherette',
      RTP:    'img-santafe-interior-dark-beige-twotone-leather',
      VGD:    'img-santafe-interior-burgundy-twotone-nappa'
    )
  ),
  // 베뉴 
  QX01: (
    ex: (
      WW2:    'santafe-exterior-white-cream',
      T2X:    'santafe-exterior-typoon-silver',
      W2P:    'santafe-exterior-wild-explorer',
      M2F:    'santafe-exterior-magnetic-force',
      Y2B:    'santafe-exterior-earthy-bronze',
      R2F:    'santafe-exterior-rain-forest',
      ST2:    'santafe-exterior-stormy-sea',
      NKA:    'santafe-exterior-phantom-black',
      Y2R:    'santafe-exterior-lava-orange'
    ),
    in: (
      NNB:    'santafe-interior-black-leatherette',
      YPJ:    'santafe-interior-grey-twotone-leatherette',
      RTP:    'santafe-interior-dark-beige-twotone-leather',
      VGD:    'santafe-interior-burgundy-twotone-nappa'
    ),
    img: (
      NNB:    'img-santafe-interior-black-leatherette',
      YPJ:    'img-santafe-interior-grey-twotone-leatherette',
      RTP:    'img-santafe-interior-dark-beige-twotone-leather',
      VGD:    'img-santafe-interior-burgundy-twotone-nappa'
    )
  )
);

/* 미디어 쿼리 Break Point Values */ 
$breakpoints: (
  'small':  640px,
  'medium': 1023px,
  'large':  1024px
) !default;
