body, div, header, section, main, article, nav, ul, dl, ol, h1, h2, h3, h4, h5, h6 {padding: 0; margin: 0; box-sizing: border-box; vertical-align: top;}
ul, dl{ list-style: none; }
a{text-decoration: none;}
button{appearance: none; border: none; background-color: transparent; color: #666; cursor: pointer; }
input{padding: 8px 12px;}
/* COMMON */
#root > div{display: flex;}
.word-break{display: inline-block;}


/* Header */
header {flex-shrink: 0; width: 250px; height: 100%; padding: 20px 20px 20px 30px;}
header h1{font-size: 19px; font-weight: normal;}
header h1 span{display: block;}
header h1 + ul{margin-top: 50px;}
header h1 + ul li a{display: block; padding: 10px 20px 10px 0;}
header h1 + ul ul{padding-left: 20px;}

/* Contents Area */
main{padding: 40px;}
section + section { margin-top: 40px; }
section .title-section {margin-bottom: 20px;}
